<footer class="footer">
    <div class="content">
        <div class="footer-left">
            <span class="footer-label">Наши контакты</span>
            <div class="footer-phone">
                <i class="fas fa-phone-alt"></i><a href="tel:+375291743113">+375-29-174-31-13</a>
            </div>
            <div class="email-block">
                <i class="far fa-envelope"></i>
                <a class="footer-email" href="mailto:nikita@gmail.com">nikita@gmail.com</a>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-address">
                <i class="fas fa-map-marker-alt"></i>Беларусь, г. Минск, ул. Козлова 2-89<br>
                <div class="div">
                    <a href="mailto:nikitabsuir@gmail.com"><span>nikitabsuir@gmail.com</span></a>
                </div>
            </div>
        </div>
    </div>
</footer>