<header class="header">
    <div class="content">
        <div class="header_menu-wrapper">
            <div class="header__menu-left">
                <a class="logo-image__block" href="./index.html">
                    <img class="header__logo-image" src="./assets/logo.png" data-src="./assets/logo.png" alt="ВодоПроф"
                        title="ВодоПроф">
                </a>
                <p class="logo-slogan__block">Cистемы водоотведения и
                    благоустройства территорий</p>
            </div>
            <div class="header__menu-right">
                <div class="menu__address">
                    <div class="address-block">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="address-block-text">
                            Беларусь, г. Минск, ул. Козлова 2-89<br>
                            <a class="address-link" href="mailto:nikitabsuir@gmail.com"><span
                                    style="font-size: 12pt;">nikitabsuir@gmail.com</span></a>
                        </div>
                    </div>
                </div>
                <div class="menu__phone-block">
                    <div class="phone-left">
                        <div class="phone_left-inner">

                            <div class="phone with_dropdown big">
                                <i class="fas fa-phone-alt" style="color: red;"></i>
                                <a href="tel:+375291743113">+375-29-174-31-13</a>
                            </div>
                            <div class=" schedule">
                                Пн. – Пт.: с 9:00 до 18:00 </div>
                        </div>
                    </div>
                    <div class="phone-right">
                        <input class="phone-right_button" type="button" value="Заказать звонок">
                    </div>
                </div>
            </div>
        </div>
        <div class="header__tabs-wrapper">
            <div class="header__tabs">
                <nav class="header__nav">
                    <ul>
                        <li class="nav__link dropdown">
                            <div class="wrap">
                                <a class="dropdown-toggle" href="./index.html">
                                    Главная <i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                        </li>
                        <li class="nav__link">
                            <a href="/aboutus/about.html">
                                О Нас <i class="fa fa-angle-down"></i>
                            </a>
                        </li>
                        <li class="nav__link">
                            <a href="/product/product.html">
                                Продукция <i class="fa fa-angle-down"></i>
                            </a>
                        </li>
                        <li class="nav__link">
                            <a href="/information/info.html">
                                Полезная Информация <i class="fa fa-angle-down"></i>
                            </a>
                        </li>
                        <li class="nav__link">
                            <a href="/contact/contact.html">
                                Контакты <i class="fa fa-angle-down"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>