/* INFO TAB STYLES START*/
.list-100 {
  padding: 40px 20px;
  border-radius: 20px;
  border-color: whitesmoke;
  border-width: 3px;
  border-style: solid;
}
.list-element {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: whitesmoke;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.list-element:last-child {
  border: none;
}
/* image */
.list-img {
  display: flex;
  width: 20%;
}
.list-img img {
  width: 92px;
  height: 92px;
}
/* labels */
.list-labels {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.list-toptext {
  font-weight: bold;
}
.list-labels p {
  margin-top: 30px;
  font-size: 0.8em;
}

/* INFO TAB STYLES END*/
